
 
  nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f46fa4;
    
    
    
}
  .topnav a {
    float: left;
    background-color: #f46fa4;
    color: #fff;
    text-align: center;
    padding: 8px 16px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #fff;
    color:#f46fa4;
  }
  
  .flex{
    display: flex;
    flex-direction: row;
    border:1px solid #000;
    width: 100%;
    margin: 0%;
    background-color: #f46fa4;
    color: #fff;
  }
  .logo{
    width: 12%;
    
  }
  .logo img{
    width: 100%;
    border-radius: 25px;
    padding-left: 8%;
    padding-top: 8%;
    padding-bottom: 6%;	
  }
  .text{
    text-align: right;
    letter-spacing: 2px;
    font-size: 35px;
    padding-left: 70%;
  }
  